@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
body,div,ul,li,a,footer,header,h1,h2,h3,h4,h5,h6,nav{padding:0px; margin:0px;}
body{font-family: 'Noto Sans KR', sans-serif; overflow-x:hidden; }
ul{list-style:none;}
a{text-decoration:none; color:#000;}

/*헤더 영역*/ 
	header{width:100%; height:120px; background:#fff; position:fixed; z-index:99; top:0;}
	header ul{float:right;}
	header ul > li{float:left;}

	/*유틸메뉴*/
	#top_menu{width:100%;  height:35px;  border-bottom:1px solid #ccc;}
			#util_menu{max-width:1220px;height:35px; margin:0 auto;  padding:0 12px;}
			#util_menu > ul{height:100%;font-size:13px; position:relative; top:8px; }
			#util_menu > ul > li{height:100%;float:left; text-indent:24px;  margin-right:15px; letter-spacing:-1px; position:relative; font-size:13px;  }
			#util_menu > ul > li > a{display:block;  width:100%; height:100%; line-height:20px;}
			#util_menu > ul > li:nth-child(1) a {background:url(../images/icon_naverpost.png)no-repeat; background-size:21px;}
			#util_menu > ul > li:nth-child(1){text-indent:28px; }
			#util_menu > ul > li:nth-child(2) a{background:url(../images/icon_faq_b.png)no-repeat;}
			#util_menu > ul > li:nth-child(3){margin-right:0px; text-indent:24px;}
			#util_menu > ul > li:nth-child(3) a{color:#e20613;background:url(../images/icon_admin.png)no-repeat; }
	
			/*로고 및 나브*/
			#nav_menu{max-width:1220px; height:80px; margin:0 auto; position:relative;  top:0px; padding:0 12px;}
			#nav_menu > h1#logo{width:12.5rem; height:3rem;	position:relative; top:18px; }
			 h1#logo > a{width:12.5rem; height:3rem; display:block; text-indent:-9999px;background:url(../images/logo_b.png)no-repeat; 
						background-size:12.5rem 3rem;   position:relative; }
			nav.main_menu  > ul { position:relative; top:-15px; }
			nav.main_menu  > ul > li{ margin-right:8px; font-size:18px;text-align:right; margin-right:35px;}
			nav.main_menu  > ul > li:nth-child(3) a{color:#e20613;}
			nav.main_menu  > ul > li:hover a{color:#e20613;}
			nav.main_menu  > ul > li:nth-child(1){margin-left:180px;}
				nav.main_menu  > ul > li:nth-child(6){margin-right:0px;}
			nav.main_menu > ul > li > a{display:block; width:100%; height:100%;  }

			div.ham_bar{position:absolute; height:24px; width:24px; margin-top:-26px; right:30px; cursor:pointer; display:none;}
			div.ham_bar span{position:absolute; width:100%; height:2px;background-color:#000;}
			div.ham_bar span:nth-child(2){margin-top:8px;}
			div.ham_bar span:nth-child(3){margin-top:16px;}
		
			nav.open{display:none;}







#wrap{background:#f6f6f6;height:3550px; position:relative; to:150px; paddig-top:150px; width:100%; }
.pppp{width:100%;}
.box1{max-width:1220px;  margin:0 auto;}
.title_con{text-align:center; heigt:100%; background:#f6f6f6; padding-top:100px; padding-bottom:30px;}
.title_con h1{height:2.5rem; font-weight:400; font-size:2.5rem; marin-top:10%; position:relative; top:20px;}
.title_con span{color:red; margin-top:5%;}  
.title_con p{font-size: 1.375rem;   font-weight: 300;    color: #222;   line-heigt:95px;   margin-top:5%; }

.page1{height:790px; position:relative; backgrond:yellow; border-bottom:1px solid lightgray; width:90%; margin:0 auto; background:white; }
.page2{height:790px; position:relative; backgrond:yellow; border-bottom:1px solid lightgray; width:90%; margin:0 auto; background:white; }
.page3{height:790px; position:relative; backgrond:yellow; border-bottom:1px solid lightgray; width:90%; margin:0 auto; background:white; }
.page4{height:790px; position:relative; backgrond:yellow; order-bottom:1px solid lightgray; width:90%; margin:0 auto; background:white;  margin-bottom:130px;}

.page1 img{position:absolute; width:100%;  bottom:5%; display:block;}
.page2 img{position:absolute; width:100%;  bottom:5%; display:block;}
.page3 img{position:absolute; width:100%;  bottom:5%; display:block;}
.page4 img{position:absolute; width:100%;  bottom:5%; display:block; }
.view_m{display:none;}

.content_con{background:#f6f6f6; width:100%; margin:0 auto; height:3250px; position:relaive; left:0.5%; }
.content_con .tit_top_1 p{text-align:center;    line-height: 2.5rem;    padding-top: 1.5rem;    font-weight: 400;    color: #222; font-size:2rem;color:#555;}
.content_con .tit_top_1 p:nth-child(1){font-weight:300;}
.content_con .tit_top_1 p:nth-child(2){font-ize:2rem; color:#000000;}
.content_con .tit_top_1 p:nth-child(3){fontsize:2rem;  padding-top:0rem;}
.content_con .tit_top_1 p span{color:red;}

.content_con .tit_top_1 a{display: inline-block; line-height: 2.75rem;  padding: 0 2rem 0 2.75rem;    color: #fff;    background: #fa2829 url(../images/icon_play.png) 1.5rem 50% no-repeat;
							margin-left:40%; margin-top:3.5%;}



.content_con .tit_top_2 p{text-align:center;    line-height: 2.5rem;    padding-top: 1.5rem;    font-weight: 400;    color: #222; font-size:2rem;color:#555;}
.content_con .tit_top_2 p:nth-child(1){font-weight:300;}
.content_con .tit_top_2 p:nth-child(2){font-sze:2rem; color:#000000;}
.content_con .tit_top_2 p:nth-child(3){fontsize:2rem;  padding-top:0rem;}
.content_con .tit_top_2 p:nth-child(4){fon-size:2rem;  padding-top:0rem;}
.content_con .tit_top_2 p span{color:red;}


.content_con .tit_top_2 a{display: inline-block; line-height: 2.75rem;  padding: 0 2rem 0 2.75rem;    color: #fff;    background: #fa2829 url(../images/icon_play.png) 1.5rem 50% no-repeat;
							margin-left:40%; margin-top:3.5%}




.content_con .tit_top_3 p{text-align:center;    line-height: 2.5rem;    padding-top: 1.5rem;    font-weight: 400;    color: #222; font-size:2rem;color:#555;}
.content_con .tit_top_3 p:nth-child(1){font-weight:300;}
.content_con .tit_top_3 p:nth-child(2){ color:#000000;}
.content_con .tit_top_3 p:nth-child(3){ padding-top:0rem;}
.content_con .tit_top_3 p:nth-child(4){  padding-top:0rem;}
.content_con .tit_top_3 p span{color:red;}

.content_con .tit_top_3 a{display: inline-block; line-height: 2.75rem;  padding: 0 2rem 0 2.75rem;    color: #fff;    background: #fa2829 url(../images/icon_play.png) 1.5rem 50% no-repeat;
							margin-left:40%; margin-top:3.5%}

.content_con .tit_top_4 p{text-align:center;    line-height: 2.5rem;    padding-top: 1.5rem;    font-weight: 400;    color: #222; font-size:2rem;color:#555;}
.content_con .tit_top_4 p:nth-child(1){font-weight:300;}
.content_con .tit_top_4 p:nth-child(2){color:#000000;}
.content_con .tit_top_4 p:nth-child(3){  padding-top:0rem;}
.content_con .tit_top_4 p:nth-child(4){  padding-top:0rem;}
.content_con .tit_top_4 p span{color:red;}

.content_con .tit_top_4 a{display: inline-block; line-height: 2.75rem;  padding: 0 2rem 0 2.75rem;    color: #fff;    background: #fa2829 url(../images/icon_play.png) 1.5rem 50% no-repeat;
							margin-left:40%; margin-top:3.5%}



/* footer */
body, footer, div, p{margin:0; padding:0;}
img{border:none;}
a{text-decoration:none; color:#000;}

	/* 푸터 영역*/
	footer{background:#fff; clear:both;width:100%;  height:100%;}
	footer div.uni_con{width:100%; border-bottom:1px solid #ccc;}

	footer div.footer_con{max-width:1220px; height:40px; padding:20px 20px 10px 20px; margin:0 auto;}
	footer div.footer_con a{display:inline-block; margin-top:10px; font-size: 13px;}
	
	footer div.address_con{max-width:1220px; margin:0 auto;  padding:20px 20px 30px 20px; position:relative;}
	div.address_con > img{float:left; padding-top:15px; margin:0 30px 0 0;height:100%;}
	div.address_con > p:nth-child(2){padding-top:15px; font-size:14px; color:#777777;}
	div.address_con > p:nth-child(3){font-size:12px; color:#acacac;; margin-top:5px;}
	a.btn_footer{width:44px; height:62px; background:url(../images/icon_wa.png)no-repeat;position:absolute; text-indent:-9999px;
				cursor:pointer; top:30px; right:298px;}
	a.btn_download{width:265px; height:38px; background:url(../images/icon_down.png) no-repeat 10px center; position:absolute; background-color:#2755ac; 
									padding-top:15px; margin-right:15px;color:#fff; text-align:center; font-size: 17px; right:0px; top:30px; cursor:pointer;
									text-indent:12px;}



@media all and (min-width:641px) and (max-width:1023px){
		  #con_wrap{background:#f6f6f6;height:1450px; padding-top:150px; }
			#top_menu, #util_menu, nav {display:none;}
			header{height:80px; }
			#nav_menu{height:80%; }
			#logo {display:inline-block; position:relative; width:8.333rem; height:2rem; 
						background-size: 8.333rem , 2rem !important;left:42.24590163934426%; 
						margin-top:8px; z-index:999; text-align: center;}
			#logo a{display:inline-block; position:relative;background-size: 8.333rem , 2rem !important;  } 
			div.ham_bar{display:block;}

		/*반응형 메뉴*/
		nav.open{position: fixed; left: auto; width: 100%;   height: 100%;}
		nav.open > div.bg{position: absolute;width: 100%;  height: 100%; background: rgba(0, 0, 0, 0.65); opacity:0;}
		nav.open div.nav_con{position: absolute;   width: 80%; height: 100%;  background: #fff;  text-align: left;   right:-100%; }
		div.nav_con:before{display: block;content:""; height: 5rem; background: #e20613;}	
		div.nav_con > a{display: block;position: absolute;   top: 7px;  left: 2rem;  width: 9.250rem; height: 2.25rem; background:url(../images/logo_w.png)no-repeat; 
									background-size: 9.25rem 2.25rem;text-indent: -9999px;}
		div.nav_con div.btn_off{top: 2rem; position: absolute;  right: 2.4rem;width: 1.5rem;    height: 1.5rem; cursor: pointer;}
			div.btn_off span{position:absolute;  top:0.2rem; display:block; width:100%;    height: 2px; background-color: #fff;}
			div.btn_off span:nth-child(1){transform: rotate(-135deg);}
			div.btn_off span:nth-child(2){transform: rotate(135deg);}
		
		div.nav_con  > ul  {float:none;}
		div.nav_con  > ul  > li{width:100%; position:relative;  float:none;}
		div.nav_con ul > li:hover{background:#f2f2f2;}
		div.nav_con ul > li > a{display:block;   width: 100%; height: 3rem;    line-height: 3rem;    border-bottom: 1px solid #ccc; 
												margin-left: 0; padding-left: 2rem;font-size: 1.125rem !important; color: #000 !important;
												background-image:url(../images/bl_menu_off.png); background-repeat:no-repeat; background-position:88%; background-size:8px 16px;}
		div.nav_con > ul >  li > a:hover{color:#e20613 !important;  background-image:url(../img/bl_menu_on.png);background-repeat:no-repeat; background-position:88%;  
															background-size: 8px 16px; }
		
		div.nav_con  > ul  > li > ul.hidden_w {width:100%;  float:none;}
		div.nav_con ul.hidden_w > li{float:none;}
		div.nav_con ul.hidden_w a{display: block; width: 100%;   height: 2.5rem;    line-height: 2.5rem;    padding-left: 2rem;    font-size: 1rem !important;    color: #555555 !important;  
														border-bottom: 1px solid #ccc;																
															background: #dedede;}	
		div.nav_con ul.hidden_w a:hover{color:#e20613 !important;}
		div.nav_con ul li > ul > li > a:visited{ color: #333333;}

		div.nav_con ul > li:nth-child(1) > a.first{color:#e20613 !important;background:#f2f2f2 url(../img/bl_menu_on.png)88% 55% no-repeat !important; background-size: 8px 16px !important;}
		

		div.nav_con div.util_con{position: absolute;    bottom: 0px;    width: 100%;    height:50px; border-top: 1px solid #ccc;  background: #f2f2f2;    line-height: 2.25rem; }
		div.nav_con div.util_con a{display:inline-block; }
		div.nav_con div.util_con a:nth-child(1){height: 2rem;  line-height: 2rem; margin-top:0.5rem;  padding-right: 1rem;    padding-left: 2rem !important;  margin-left: 1rem;background: #00c73c url(../img/icon_naverpost_m.png)8% 60% no-repeat;     
																			background-size: 11px 18px!important;  color: #fff !important; font-size:14px !important;     }
		div.nav_con div.util_con a:nth-child(2){font-size: 1.125rem !important;    padding-left: 0.5rem !important;    height: 3rem;    line-height: 3rem;background: none !important;}
		
		   footer div.uni_con{background:none; border:none; padding: 0.2rem 1rem;}
			footer div.footer_con {text-align:center; }
			footer div.footer_con span{padding: 0 1rem;}
			footer div.footer_con a{padding-right:0.8rem;}
			div.address_con{text-align:center; padding: 0 1rem 1.25rem; line-height: 1.75rem;margin: 0 auto; padding-right: 5rem;    max-width: 1220px;}
			div.address_con > img {float:none;   padding-bottom: 1rem; margin:-50px 0 0 0; padding-right: 3rem;}
			div.address_con > p:nth-child(2){padding-top:0px; font-size:14px; color:#777777;}
			div.address_con > p:nth-child(3){font-size:12px; color:#ccc; margin-top:0px;}
			a.btn_footer{top: 0.8rem;right: auto; left: 50%; width: 31px;height: 44px;margin-left: 4.5rem;background-size: 31px 44px;}
			a.btn_download{display:none;}

	#wrap{height:6500px; }
	.view_w{display:none;}
	.view_m{display:block;  margin:0 auto; }
	.page1{height:1500px;}
	.page2{height:1500px;}
	.page3{height:1500px; }
	.page4{height:1500px; }

	.view_m img{dispay:block; width:100%; height:70%; text-align:center; margin:0 auto; margin-top:20%; }
	
	   .content_con .tit_top_1 a{margin-left:35%;}
	   .content_con .tit_top_2 a{margin-left:35%;}
	   .content_con .tit_top_3 a{margin-left:35%;}
/*	.view_t {display:block; width:100px;}*/

.title_con{text-align:center; heigt:100%; background:#f6f6f6; padding-top:70px; padding-bottom:30px;}
/*.title_con h1{height:2.5rem; font-weight:400; font-size:2.5rem; marin-top:10%; position:relative; top:20px;}
.title_con span{color:red; margin-top:5%;}  
.title_con p{font-size: 1.375rem;   font-weight: 300;    color: #222;   line-heigt:95px;   margin-top:5%; }*/
			 .title_con p{font-size: 1rem; margin-top:20px; line-height:70px;}
			 .title_con h1{    font-size: 2.25rem; }
	}

@media (max-width: 960px){

#top_menu, #util_menu, nav {display:none;}
			header{height:80px; }
			#nav_menu{height:80%; }
			#logo {display:inline-block; position:relative; width:8.333rem; height:2rem; 
						background-size: 8.333rem , 2rem !important;left:42.24590163934426%; 
						margin-top:8px; z-index:999; text-align: center;}
			#logo a{display:inline-block; position:relative;  background-size: 8.333rem , 2rem !important; } 
			div.ham_bar{display:block;}

		/*반응형 메뉴*/
		nav.open{position: fixed; left: auto; width: 100%;   height: 100%;}
		nav.open > div.bg{position: absolute;width: 100%;  height: 100%; background: rgba(0, 0, 0, 0.65); opacity:0;}
		nav.open div.nav_con{position: absolute;   width: 80%; height: 100%;  background: #fff;  text-align: left;   right:-100%; }
		div.nav_con:before{display: block;content:""; height: 5rem; background: #e20613;}	
		div.nav_con > a{display: block;position: absolute;   top: 7px;  left: 2rem;  width: 9.250rem; height: 2.25rem; background:url(../images/logo_w.png)no-repeat; 
									background-size: 9.25rem 2.25rem;text-indent: -9999px;}
		div.nav_con div.btn_off{top: 2rem; position: absolute;  right: 2.4rem;width: 1.5rem;    height: 1.5rem; cursor: pointer;}
			div.btn_off span{position:absolute;  top:0.2rem; display:block; width:100%;    height: 2px; background-color: #fff;}
			div.btn_off span:nth-child(1){transform: rotate(-135deg);}
			div.btn_off span:nth-child(2){transform: rotate(135deg);}
		
		div.nav_con  > ul  {float:none;}
		div.nav_con  > ul  > li{width:100%; position:relative;  float:none;}
		div.nav_con ul > li:hover{background:#f2f2f2;}
		div.nav_con ul > li > a{display:block;   width: 100%; height: 3rem;    line-height: 3rem;    border-bottom: 1px solid #ccc; 
												margin-left: 0; padding-left: 2rem;font-size: 1.125rem !important; color: #000 !important;
												background-image:url(../images/bl_menu_off.png); background-repeat:no-repeat; background-position:88%; background-size:8px 16px;}
		div.nav_con > ul >  li > a:hover{color:#e20613 !important;  background-image:url(../img/bl_menu_on.png);background-repeat:no-repeat; background-position:88%;  
															background-size: 8px 16px; }
		
		div.nav_con  > ul  > li > ul.hidden_w {width:100%;  float:none;}
		div.nav_con ul.hidden_w > li{float:none;}
		div.nav_con ul.hidden_w a{display: block; width: 100%;   height: 2.5rem;    line-height: 2.5rem;    padding-left: 2rem;    font-size: 1rem !important;    color: #555555 !important;  
														border-bottom: 1px solid #ccc;																
															background: #dedede;}	
		div.nav_con ul.hidden_w a:hover{color:#e20613 !important;}
		div.nav_con ul li > ul > li > a:visited{ color: #333333;}

		div.nav_con ul > li:nth-child(1) > a.first{color:#e20613 !important;background:#f2f2f2 url(../img/bl_menu_on.png)88% 55% no-repeat !important; background-size: 8px 16px !important;}
		

		div.nav_con div.util_con{position: absolute;    bottom: 0px;    width: 100%;    height:50px; border-top: 1px solid #ccc;  background: #f2f2f2;    line-height: 2.25rem; }
		div.nav_con div.util_con a{display:inline-block; }
		div.nav_con div.util_con a:nth-child(1){height: 2rem;  line-height: 2rem; margin-top:0.5rem;  padding-right: 1rem;    padding-left: 2rem !important;  margin-left: 1rem;background: #00c73c url(../img/icon_naverpost_m.png)8% 60% no-repeat;     
																			background-size: 11px 18px!important;  color: #fff !important; font-size:14px !important;     }
		div.nav_con div.util_con a:nth-child(2){font-size: 1.125rem !important;    padding-left: 0.5rem !important;    height: 3rem;    line-height: 3rem;background: none !important;}



			section{margin:100px auto;}
			section h2 + strong{font-size:16px; color:#222;}
		
		    footer div.uni_con{background:none; border:none; padding: 0.2rem 1rem;}
			footer div.footer_con {text-align:center; }
			footer div.footer_con span{padding: 0 1rem;}
			footer div.footer_con a{padding-right:0.8rem;}
			div.address_con{text-align:center; padding: 0 1rem 1.25rem; line-height: 1.75rem;margin: 0 auto; padding-right: 5rem;    max-width: 1220px;}
			div.address_con > img {float:none;   padding-bottom: 1rem; margin:-50px 0 0 0; padding-right: 3rem;}
			div.address_con > p:nth-child(2){padding-top:0px; font-size:14px; color:#777777;}
			div.address_con > p:nth-child(3){font-size:12px; color:#ccc; margin-top:0px;}
			a.btn_footer{top: 0.8rem;right: auto; left: 50%; width: 31px;height: 44px;margin-left: 4.5rem;background-size: 31px 44px;}
			a.btn_download{display:none;}

		
	}
 
 
	
@media (max-width:640px){
 	#top_menu, #util_menu, nav {display:none;}
			header{height:60px;}
			#nav_menu{height:50%;}
			#logo {display:inline-block; position:relative; width:8.333rem; height:2rem; 
						background-size:8.333rem , 2rem !important; left:35.22950819672131%;  z-index:999;
						text-align: center;}
			#logo a{display:inline-block;position:relative;  background-size:8.333rem , 2rem !important; } 
			div.ham_bar{display:block;}
			
		nav.open{position: fixed; left: auto; width: 100%;   height: 100%;}
		nav.open > div.bg{position: absolute;width: 100%;  height: 100%; background: rgba(0, 0, 0, 0.65); opacity:0;}
		nav.open div.nav_con{position: absolute;   width: 80%; height: 100%;  background: #fff;  text-align: left;   right:-100%; }
		div.nav_con:before{display: block;content:""; height: 5rem; background: #e20613;}	
		div.nav_con > a{display: block;position: absolute;   top: 7px;  left: 2rem;  width: 9.250rem; height: 2.25rem; background:url(../images/logo_w.png)no-repeat; 
									background-size: 9.25rem 2.25rem;text-indent: -9999px;}
		div.nav_con div.btn_off{top: 2rem; position: absolute;  right: 2.4rem;width: 1.5rem;    height: 1.5rem; cursor: pointer;}
			div.btn_off span{position:absolute;  top:0.2rem; display:block; width:100%;    height: 2px; background-color: #fff;}
			div.btn_off span:nth-child(1){transform: rotate(-135deg);}
			div.btn_off span:nth-child(2){transform: rotate(135deg);}
		
		div.nav_con  > ul  {float:none;}
		div.nav_con  > ul  > li{width:100%; position:relative;  float:none;}
		div.nav_con ul > li:hover{background:#f2f2f2;}
		div.nav_con ul > li > a{display:block;   width: 100%; height: 3rem;    line-height: 3rem;    border-bottom: 1px solid #ccc; 
												margin-left: 0; padding-left: 2rem;font-size: 1.125rem !important; color: #000 !important;
												background-image:url(../img/bl_menu_off.png); background-repeat:no-repeat; background-position:88%; background-size:8px 16px;}
		div.nav_con > ul >  li > a:hover{color:#e20613 !important;  background-image:url(../img/bl_menu_on.png);background-repeat:no-repeat; background-position:88%;  
															background-size: 8px 16px; }
		
		div.nav_con  > ul  > li > ul.hidden_w {width:100%;  float:none;}
		div.nav_con ul.hidden_w > li{float:none;}
		div.nav_con ul.hidden_w a{display: block; width: 100%;   height: 2.5rem;    line-height: 2.5rem;    padding-left: 2rem;    font-size: 1rem !important;    color: #555555 !important;  
														border-bottom: 1px solid #ccc;																
															background: #dedede;}	
		div.nav_con ul.hidden_w a:hover{color:#e20613 !important;}
		div.nav_con ul li > ul > li > a:visited{ color: #333333;}

		div.nav_con ul > li:nth-child(1) > a.first{color:#e20613 !important;background:#f2f2f2 url(../images/bl_menu_on.png)88% 55% no-repeat !important; background-size: 8px 16px !important;}
		

		div.nav_con div.util_con{position: absolute;    bottom: 0px;    width: 100%;    height:50px; border-top: 1px solid #ccc;  background: #f2f2f2;    line-height: 2.25rem; }
		div.nav_con div.util_con a{display:inline-block; }
		div.nav_con div.util_con a:nth-child(1){height: 2rem;  line-height: 2rem; margin-top:0.5rem;  padding-right: 1rem;    padding-left: 2rem !important;  margin-left: 1rem;background: #00c73c url(../img/icon_naverpost_m.png)8% 60% no-repeat;     
																			background-size: 11px 18px!important;  color: #fff !important; font-size:14px !important;     }
		div.nav_con div.util_con a:nth-child(2){font-size: 1.125rem !important;    padding-left: 0.5rem !important;    height: 3rem;    line-height: 3rem;background: none !important;}


#con_wrap{width:100%; margin:0 auto}
 .counsel_top>div{position: relative; display: block;width:90%; margin:0 auto; }
 .counsel_top>div:first-child{padding-right:0px; width:90%;}
.counsel_top>div:last-child{padding-left:0px; padding-top:20px;}
 .tit_con p{font-size: 1rem;}
 .tit_con h1{    font-size: 2.25rem;}
 .con_counsel {width:95%; margin:0 auto;}
 .con_counsel .con_cont{width:90%}
 .con_counsel #con_counsel_top {width:60%;psition:absolute; right:10px; margin-right:10px;}
 .con_counsel #con_counsel_top p{width:100%;psition:absolute; right:10px;}
#con_counsel_top{margin-left:40%;}


.title_con{text-align:center; heigt:100%; background:#f6f6f6; padding-top:70px; padding-bottom:30px;}
/*.title_con h1{height:2.5rem; font-weight:400; font-size:2.5rem; marin-top:10%; position:relative; top:20px;}
.title_con span{color:red; margin-top:5%;}  
.title_con p{font-size: 1.375rem;   font-weight: 300;    color: #222;   line-heigt:95px;   margin-top:5%; }*/
			 .title_con p{font-size: 1rem; margin-top:20px; line-height:4<pre></pre>0px;}
			 .title_con h1{    font-size: 2.25rem; }

	.view_w{display:none;}
	.view_m{display:block;  margin:0 auto; }
	#wrap{height:6500px; }
	.page1{height:1500px;}
	.page2{height:1500px;}
	.page3{height:1500px; }
	.page4{height:1500px; }

	.view_m img{dispay:block; width:100%; height:72%; text-align:center; margin:0 auto;}/*미디어 영억*/

	.view_m img{margin-top:-200px;}



@media all and (max-width:640px){
		  #con_wrap{background:#f6f6f6;height:1450px; padding-top:150px; margin:0 auto}
	 	#top_menu, #util_menu, nav {display:none;}
			header{height:60px;}
			#nav_menu{height:50%;}
			#logo {display:inline-block; position:relative; width:8.333rem !important; height:2rem; 
						background-size:8.333rem , 2rem !important; left:35.22950819672131%; margin-top:0px; z-index:999;
						text-align: center;}
			#logo a{display:inline-block;position:relative;  width:8.333rem !important;  } 
			div.ham_bar{display:block;}
			
				nav.open{position: fixed; left: auto; width: 100%;   height: 100%;}
		nav.open > div.bg{position: absolute;width: 100%;  height: 100%; background: rgba(0, 0, 0, 0.65); opacity:0;}
		nav.open div.nav_con{position: absolute;   width: 80%; height: 100%;  background: #fff;  text-align: left;   right:-100%; }
		div.nav_con:before{display: block;content:""; height: 5rem; background: #e20613;}	
		div.nav_con > a{display: block;position: absolute;   top: 7px;  left: 2rem;  width: 9.250rem; height: 2.25rem; background:url(../images/logo_w.png)no-repeat; 
									background-size: 9.25rem 2.25rem;text-indent: -9999px;}
		div.nav_con div.btn_off{top: 2rem; position: absolute;  right: 2.4rem;width: 1.5rem;    height: 1.5rem; cursor: pointer;}
			div.btn_off span{position:absolute;  top:0.2rem; display:block; width:100%;    height: 2px; background-color: #fff;}
			div.btn_off span:nth-child(1){transform: rotate(-135deg);}
			div.btn_off span:nth-child(2){transform: rotate(135deg);}
		
		div.nav_con  > ul  {float:none;}
		div.nav_con  > ul  > li{width:100%; position:relative;  float:none;}
		div.nav_con ul > li:hover{background:#f2f2f2;}
		div.nav_con ul > li > a{display:block;   width: 100%; height: 3rem;    line-height: 3rem;    border-bottom: 1px solid #ccc; 
												margin-left: 0; padding-left: 2rem;font-size: 1.125rem !important; color: #000 !important;
												background-image:url(../images/bl_menu_off.png); background-repeat:no-repeat; background-position:88%; background-size:8px 16px;}
		div.nav_con > ul >  li > a:hover{color:#e20613 !important;  background-image:url(../images/bl_menu_on.png);background-repeat:no-repeat; background-position:88%;  
															background-size: 8px 16px; }
		
		div.nav_con  > ul  > li > ul.hidden_w {width:100%;  float:none;}
		div.nav_con ul.hidden_w > li{float:none;}
		div.nav_con ul.hidden_w a{display: block; width: 100%;   height: 2.5rem;    line-height: 2.5rem;    padding-left: 2rem;    font-size: 1rem !important;    color: #555555 !important;  
														border-bottom: 1px solid #ccc;																
															background: #dedede;}	
		div.nav_con ul.hidden_w a:hover{color:#e20613 !important;}
		div.nav_con ul li > ul > li > a:visited{ color: #333333;}

		div.nav_con ul > li:nth-child(1) > a.first{color:#e20613 !important;background:#f2f2f2 url(../images/bl_menu_on.png)88% 55% no-repeat !important; background-size: 8px 16px !important;}
		

		div.nav_con div.util_con{position: absolute;    bottom: 0px;    width: 100%;    height:50px; border-top: 1px solid #ccc;  background: #f2f2f2;    line-height: 2.25rem; }
		div.nav_con div.util_con a{display:inline-block; }
		div.nav_con div.util_con a:nth-child(1){height: 2rem;  line-height: 2rem; margin-top:0.5rem;  padding-right: 1rem;    padding-left: 2rem !important;  margin-left: 1rem;background: #00c73c url(../images/icon_naverpost_m.png)8% 60% no-repeat;     
																			background-size: 11px 18px!important;  color: #fff !important; font-size:14px !important;     }
		div.nav_con div.util_con a:nth-child(2){font-size: 1.125rem !important;    padding-left: 0.5rem !important;    height: 3rem;    line-height: 3rem;background: none !important;}



			 footer div.uni_con{background:none; border:none; padding: 0.2rem 1rem;}
			footer div.footer_con {text-align:center;padding-bottom:1rem;  }
			footer div.footer_con span{padding: 0 0rem;}
			footer div.footer_con a{padding-right:0.8rem;}
			.first_footer_con{margin-left:-1.5rem !important;}
			div.address_con{text-align:center; padding: 0 1rem 1.25rem; line-height: 1.75rem;margin: 0 auto; padding-right: 5rem;    max-width: 1220px;}
			div.address_con > img {float:none;   padding-bottom: 1rem; margin:-50px 0 0 0; padding-right: 3rem;}
			div.address_con > p:nth-child(2){padding-top:0px; font-size:14px; color:#777777;}
			div.address_con > p:nth-child(3){font-size:12px; color:#ccc; margin-top:0px;}
			a.btn_footer{top: 0rem;right: auto; left: 50%; width: 31px;height: 44px;margin-left: 4.5rem;background-size: 31px 44px;}
			a.btn_download{display:none;}
			 .title_con p{font-size: 1rem;}
			 .title_con h1{    font-size: 2.25rem;}
			 .tit_con em{display:block;  font-style:normal; }

		.title_con{text-align:center;     padding-bottom: 0rem; position:relative; bottom:35px;} 
		.title_con h1{heght:2.5rem; font-weight:400; font-size:2rem;     lin-height: 0rem;}
		.tit_con span{color:red;} 
	   .title_con p{font-size: 14px;  font-weight: 300;    color: #222;      line-height:3.4rem;}

	   .content_con .tit_top_1 a{margin-left:20%;}
	   .content_con .tit_top_2 a{margin-left:20%;}
	   .content_con .tit_top_3 a{margin-left:20%;}
.page1 .tit_top_1 p{    font-size: 1.5rem;
    padding-top: 1rem;
    line-height: 2rem;}

.content_con .tit_top_1 em{display:block;}
.page1 .tit_top_1 a{font-size:1rem;}
.page1 .tit_top_1 p:nth-child(2){font-size:1.4rem;}
.page1 .tit_top_1 p:nth-child(1){font-size:1.4rem;}
.page1 .tit_top_1 span{font-size:1.4rem;}





 .tit_top_2 p:nth-child(2){font-size:1.4rem;}
  .tit_top_2 p:nth-child(3){font-size:1.4rem;}
   .tit_top_2 p:nth-child(4){font-size:1.4rem;}
 .tit_top_2 p:nth-child(1){font-size:1.4rem;}
 .tit_top_2 span{font-size:1.4rem;}

  .tit_top_3 p:nth-child(2){font-size:1.4rem;}
  .tit_top_3 p:nth-child(3){font-size:1.4rem;}
   .tit_top_3 p:nth-child(4){font-size:1.4rem;}
 .tit_top_3 p:nth-child(1){font-size:1.4rem;}
 .tit_top_3 span{font-size:1.4rem;}


  .tit_top_4 p:nth-child(2){font-size:1.4rem;}
  .tit_top_4 p:nth-child(3){font-size:1.4rem;}
   .tit_top_4 p:nth-child(4){font-size:1.4rem;}
 .tit_top_4 p:nth-child(1){font-size:1.4rem;}
 .tit_top_4 span{font-size:1.4rem;}
 }

